# Mac files
.DS_Store

# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# output logs
*.log

# obsidian files
.obsidian/

# renv library - this is important!
# The lockfile is tracked, not the library source code.
renv/library/

# Outputs and temporary files
*.html
*.pdf
*.png
*.jpeg
*.jpg
figs/
tmp/

# Large data files - track small data, but not large raw files
*.RDS
*.csv
